*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero-section {
    height: 100vh;
    text-align: center;
    position: relative;


  > h1 {
    padding-top: 15%;
    color: #ffffff;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    
  }
  > h2 {
    color: #ffffff;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
  }
  > p {
    color: #dddddd;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    /* padding: 3rem; */
    padding-right: 15%;
    padding-left: 15%;
  }
}
.harsh {
  color: #b60000;
  font-weight: 700;
  font-size: 4rem;
}
.social-icons {
    display: flex;
    gap: 20px;
}

.icon {
    font-size: 50px; /* Larger size for a premium look */
    padding: 15px; /* Increase padding for a better touch target */
    border: 2px solid transparent; /* No visible border by default */
    border-radius: 50%; /* Circular outline */
    color: white; /* Default icon color */
    transition: background-color 0.3s, color 0.3s;
    display: flex; /* Centering the icon */
    justify-content: center;
    align-items: center;
}
.youtube{
    color: #ffc900;
    background-color: #dfdfdf39;
}
.youtube:hover {
    background-color: #FF0000; /* YouTube red */
    color: white;
}
.linkedin{
    color: #ffc900;
    background-color: #dfdfdf39;
}
.linkedin:hover {
    background-color: #0077B5; /* LinkedIn blue */
    color: white;
}
.instagram{
    color: #ffc900;
    background-color: #dfdfdf39;
}
.instagram:hover {
    background-color: #C13584; /* Instagram pink */
    color: #ffc900;
}
.twitter{
    color: #ffc900;
    background-color: #dfdfdf39;
}
.twitter:hover {
    background-color: #ffffff; /* Twitter blue */
    color: rgb(0, 0, 0);
}
.github{
    color: #ffc900;
    background-color: #dfdfdf39;
}
.github:hover {
    background-color: #333; /* GitHub gray */
    color: white;
}


.floating {
    width: 100%;
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    animation: float 3s ease-in-out infinite;
    font-size: 50px; /* Adjust size as needed */
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px); /* Adjust the floating height */
    }
    100% {
        transform: translateY(0);
    }
}
