/* landing.css */
html,
body {
  margin: 0;
  padding: 0;
}

.bgDiv {
  width: 100%; /* Full width */
  height: 100vh; /* Full height */
}
.tracker {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  background-color: transparent;
  box-shadow: 0 0 10px 15px rgba(255, 255, 255, 0.15);
  z-index: 1;
  color: #b08989;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #103b58 0%,
    #9189b0 51%,
    #2b5876 100%
  );
}
.btn-grad {
  margin: 2%;
  padding: 10px 30px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #000000;
  text-decoration: none;
}

.text-center {
  margin-left: 50%;
  transform: translateX(-30%);
}

