
.idk{
    display: flex;
    width: 100%;
}
.skills-section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    /* background: radial-gradient(circle, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 1) 100%); */
}
.content-div{
    margin-top: 2rem;
    font-family: 'Poppins', sans-serif;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    >h2{
        text-decoration: underline;
        text-underline-offset: 10px;
        text-decoration-thickness: 2px;
        text-decoration-color: #cc0000;
        font-size: 2.5rem;
        color: #fff;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;

    }
    >p{
        text-align: center;
        padding: 2rem;
        padding-top: 1rem;
        font-size: 1rem;
        color: #dbdbdb;
        font-family: 'Poppins', sans-serif;
    }
    >div{
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
    }
}

.resume-button{
    content: "Recruiter ?";
    background-color: #bc0202;
    padding: 0.7rem;
    color: #fff;
    font-weight: 800;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border: 3px solid transparent;
    opacity: 1;
}


.repos-button{
    border: 2px solid #1cebd399;
    color: #1cebd399;
    padding: 0.7rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.repos-button:hover{
    background-color: #fff;
    color: #000;
    transition: 0.3s ease-in-out;
}

.resume-div{
    background-color: #00000099;
    width: 30%;
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    right: 0;
    overflow: hidden;
}

.central-skill-link{
    margin-left: 20%;
    cursor: pointer;
    width: 140px;
    height: 140px;
    background-color: transparent;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    z-index: 2;
    box-shadow: #ebd32175 1px 0px 10px 4px;
    transition: 0.5s ease-in-out;
    }
.central-skill-link:hover{
    border: 3px solid #d1bc20b6;
    cursor: pointer;
    box-shadow: #ebd32175 0px 0px 20px 15px;
    transition: 0.5s ease-in-out;
}

.orbit {
    margin-left: 17%;
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform-origin: center;
}

.orbit-item {
    position: absolute;
    color: #fff;
    background-color: transparent;
    padding: 10px;
    border-radius: 50%;
    font-size: 0.9rem;
    font-weight: bold;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: #09776a8b 3px 0px 10px 7px;
    transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.orbit-item:hover {
    background-color: #09776a99;
    border: 3px solid #09776a99;
    transform: scale(1.1);
    box-shadow: #09776a8b 0px 0px 30px 20px;
    
    }

.resume{
    margin-top: -10%;
    height: 80vh;
    width: 50vh;
    margin-left: 105%;
    transform: rotate(-25deg);
    box-shadow: #09776a8b 0px 0px 30px 20px;
    border-radius: 10px;
    border: 3px solid #09776a99;
    
}

