.pulsating-arrow-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pulsating-arrow {
    font-size: 2rem;
    color: #fff; /* Change this to match your design */
    animation: pulse 1.5s infinite;
    opacity: 0.7;
    cursor: pointer;
}

@keyframes pulse {
    0% {
        transform: translateY(0);
        opacity: 0.7;
    }
    50% {
        transform: translateY(10px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 0.7;
    }
}
